.features {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding: 0 10px;
}

.features span {
    width: 15rem !important;
    background: #f1f5f9;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 18px;
}
.car-book{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}