@media (max-width: 2560px) {
  .car-search {
    width: 100%;
    height: auto;
    background-color: rgb(239, 229, 229);
  }

  .filter-sec {
    width: 100%;
    height: 100vh;
    border: none;
    margin-top: 2rem;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    animation: smoothShadow 4s infinite linear;
    display: flex;
    flex-direction: column;
    background-color: #0f172a;
    color: aliceblue;
  }

  @keyframes smoothShadow {
    0% {
      box-shadow: 8px 0 10px hsl(94, 89%, 63%);
    }

    25% {
      box-shadow: 0 8px 10px rgba(17, 23, 13, 0.92);
    }

    50% {
      box-shadow: -8px 0 10px rgba(17, 23, 13, 0.92);
    }

    75% {
      box-shadow: 0 -8px 10px rgba(17, 23, 13, 0.92);
    }

    100% {
      box-shadow: 8px 0 10px rgba(17, 23, 13, 0.92);
    }
  }

  /* ============ fetching data from array style =============== */
  .features {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding: 0 10px;
  }

  .features span {
    background: #f1f5f9;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
  }
  .card {
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  }
  .card:hover {
    transform: scale(1.1);
  }
  .card:active {
    transform: scale(0.95);
  }
  .card img {
    border-radius: 10px;
  }
  .view-btn:active {
    transform: scale(0.95);
  }
  /* ====================== booking page detail ========================== */
  .booking-heading {
    width: 100vw;
    height: 5rem;
    background-color: #0b1621;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .filter-sec {
    position: fixed;
    top: 22%;
    left: 20px;
    width: 17rem;
    height: calc(100vh - 160px);
    overflow-y: auto;
    z-index: 1000;
  }
  .cars-search-section-12 {
    width: 90%;
    margin-top: 5.5rem;
    margin-left: 6rem;
  }
  .cars-search-section-123 {
    width: 90%;
    margin-left: 6rem;
  }
  .topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  .head {
    position: fixed;
    top: 2.5rem;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
}

@media (max-width: 1440px) {
}

@media (max-width: 1024px) {
  .cars-search-section-12 {
    width: 80%;
    margin-top: 4rem;
    margin-left: 9rem;
  }
}
@media (max-width: 991px) {
  .filter-sec {
    position: fixed;
    top: 5rem;
    left: 8px;
    width: 17rem;
    height: calc(100vh - 130px);
    overflow-y: auto;
    z-index: 1000;
  }
  .cars-search-section-12 {
    width: 80%;
    margin-top: 6rem;
    margin-left: 9rem;
  }
  .cars-search-section-123 {
    width: 80%;
    margin-left: 9rem;
  }
  .topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  .head {
    position: fixed;
    top: 2.5rem;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
}

@media (max-width: 768px) {
  .filter-sec {
    position: fixed;
    top: 5rem;
    left: 8px;
    width: 12rem;
    height: calc(100vh - 120px);
    overflow-y: auto;
    z-index: 1000;
  }
  .cars-search-section-12 {
    width: 80%;
    margin-top: 6rem;
    margin-left: 5rem;
  }
  .cars-search-section-123 {
    width: 80%;
    margin-left: 5rem;
  }
  .topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  .head {
    position: fixed;
    top: 2.5rem;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
}

@media (max-width: 426px) {
  .filter-sec {
    display: none;
  }
  .cars-search-section-12 {
    width: 100%;
    margin-top: 6rem;
    margin-left: 0;
  }
  .cars-search-section-123 {
    width: 100%;
    margin-left: 0;
  }
  .filter-section-mobile {
    background-color: #0b1621;
    color: white;
    height: 100%;
  }
}
