{% extends 'base_1.html' %} {% block title %}
  Vendor Profile - booking_history
{% endblock %}
{% block css %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
{% endblock %}
{% block content %}
<section class="booking-history">
    <div class="container-1">
        {% comment %} =========include slide bar ============ {% endcomment %}
        {% include 'sidebar.html' %}
        <div class="main-content">
            <h2>Booking History</h2>
            <table>
                <tr>
                    <th>Booking ID</th>
                    <th>Customer</th>
                    <th>Car</th>
                    <th>Pickup Date</th>
                    <th>Return Date</th>
                    <th>Location</th>
                    <th>Amount</th>
                    <th>Payment</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                {% for book in bookings %}
                <tr>
                    <td>{{book.Booking.id}}</td>
                    <td>{{book.user.user_name}}</td>
                    <td>{{book.car.car_name}}</td>
                    <td>{{book.pickup_date}}</td>
                    <td>{{book.return_date}}</td>
                    <td>{{book.pickup_location}}</td>
                    <td>{{book.total_amount}}</td>
                    <td>{{book.payment_status}}</td>
                    <td>{{book.status}}</td>
                    <td>
                        <button style="border-radius: 20px; background-color: blueviolet; color: white;">Accept</button>
                        <button style="border-radius: 20px; background-color: red; color: white;">Reject</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</section>
{% endblock content %}