{% extends 'base_1.html' %}
{% load static %}
{% block title %}
  Update Car
{% endblock %}
{% block content %}
  <div class="container-1">
    {% include 'sidebar.html' %}
    {% if car %}
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <h2 class="">Add New Car</h2>

      <input type="text" value="{{car.car_name}}" name="car_name" placeholder="Car Name" />

      <input type="text" value="{{car.brand}}" name="brand" placeholder="Brand" />

      <input type="text" value="{{car.model}}" name="model" placeholder="Model" />

      <input type="number" value="{{car.year}}" name="year" placeholder="Year" />

      <input type="text" value="{{car.city}}" name="city" placeholder="City" />

      <input type="text" value="{{car.pickup_location}}" name="pickup_location" placeholder="Pickup Location" />

      <input type="number" value="{{car.rent_per_day}}" step="0.01" name="rent_per_day" placeholder="Rent Per Day" />

      <select name="fuel_type">
        <option value="">Select Fuel Type</option>
        <option value="Petrol">Petrol</option>
        <option value="Diesel">Diesel</option>
        <option value="CNG">CNG</option>
        <option value="Electric">Electric</option>
        <option value="Hybrid">Hybrid</option>
      </select>

      <select name="transmission">
        <option value="">Select Transmission</option>
        <option value="Manual">Manual</option>
        <option value="Automatic">Automatic</option>
      </select>
      <label>Select Driver</label>

      <select name="driver">
        <option value="">Select Driver</option>

        {% for driver in drivers %}
          <option value="{{ driver.id }}">{{ driver.driver_name }}</option>
        {% endfor %}
      </select>

      <input type="number" name="seats" placeholder="Seats" />

      <input type="number" name="mileage" placeholder="Mileage" />

      <label><input type="checkbox" name="ac" />AC</label>

      <label><input type="checkbox" name="power_steering" />Power Steering</label>

      <label><input type="checkbox" name="power_windows" />Power Windows</label>

      <label><input type="checkbox" name="music_system" />Music System</label>

      <label><input type="checkbox" name="airbags" />Airbags</label>

      <label><input type="checkbox" name="gps" />GPS</label>

      <input type="file" name="image" />

      <select name="status">
        <option value="Available">Available</option>
        <option value="Booked">Booked</option>
        <option value="Maintenance">Maintenance</option>
      </select>
      {% comment %}===============driver information area================{% endcomment %}

      <textarea name="description" rows="5" placeholder="Description"></textarea>

      <button type="submit">Add Car</button>
    </form>
    {% else %}
    <h1><b>car data is not find.....</b></h1>
    {% endif %}
  </div>
{% endblock %}
