{% extends 'base.html' %}
{% load static %}
{% block title %}
  Car Rental Portal | search
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/search.css' %}" />
{% endblock %}
{% block content %}
  <section class="container" style="overflow-x: hidden; background-color: aqua">
    <div class="car-heading">
      <h3>car Detail</h3>
    </div>
    <div class="row g-2">
      <div class="col-md-6 col-sm-12 col-12">
        <h2>Car Details</h2>
        <hr />
        {% if car %}
        <div class="car_detail">
          <div style="width: 100%; height: 40vh; display: flex; justify-content: center;">
            <img src="{{ car.image.url }}" alt="" width="40%" height="100%" />
          </div>
          <h3>{{car.car_name}}</h3>
          <div style="display: flex;">
            <p style="background-color: white; margin-left: 10px; padding: 10px;"><b>Brand:  </b>{{car.brand }}</p>
            <p style="background-color: white; margin-left: 10px; padding: 10px;"><b>Model Number:  </b>{{car.model}}</p>
          </div>
          <div style="display: flex;">
            <p style="background-color: white; margin-left: 10px; padding: 10px;"><b>status:  </b>{{car.status}}</p>
            <p style="background-color: white; margin-left: 10px; padding: 10px;"><b>car_number:  </b>{{car.car_number}}</p>
          </div>
          <div style="display: flex;">
            <p style="background-color: white; margin-left: 10px; padding: 10px;"><b>pickup_location:  </b>{{car.pickup_location}}</p>
            <p style="background-color: white; margin-left: 10px; padding: 10px;"><b>year:  </b>{{car.year}}</p>
          </div>
          <div style="display: flex;">
            <p style="background-color: white; margin-left: 10px; padding: 10px;"><b>seats:  </b>{{car.seats}}</p>
            <p style="background-color: white; margin-left: 10px; padding: 10px;"><b>mileage:  </b>{{car.mileage}}</p>
          </div>
        </div>
        {% else %}
        <p>This car not Available!</p>
        {% endif %}
      </div>
      <div class="col-md-6 col-sm-12 col-12">
        <h5>car Details</h5>
        <hr>
        <span><b>Pickup Date:</b><p></p></span>
        <span><b>Pickup Time:</b><p></p></span>
        <span><b>return Date:</b><p></p></span>
        <span><b>return Time:</b><p></p></span>
        <span><b>Pickup Location:</b><p></p></span>
        <span><b>Pickup Location:</b><p></p></span>
      </div>
    </div>
    <hr>
    <div class="col-md-12 col-12 oner-information">
        {% if car %}
        <h5>DRIVER INFORMATION</h5>
        <hr>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Full Name</th>
                        <td>{{ car.driver_name }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ car.email }}</td>
                    </tr>
                    <tr>
                        <th>Phone Number</th>
                        <td>{{ car.driver_ph_no }}</td>
                    </tr>
                    <tr>
                        <th>Car Location</th>
                        <td>{{ car. city }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ car.pickup_location }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% else %}
        <p>Driver Information not Available!</p>
        {% endif %}
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-12" style="background-color: #FFFFFF;">
            <h5>PAYMENT METHOD</h5>
            <hr>
            <p><input type="radio" name="payment">Pay Now</p>
            <p><input type="radio" name="payment">Pay at Pickup</p>
        </div>
        <div class="col-md-6 col-sm-12 col-12" style="background-color: #FFFFFF;">
            <h5>car SUMMARY</h5>
            <hr>
            <label for=""><span><b>Rent/Day</b>2000/-</span>
                <br>
            <span><b>Total Days</b>2000/-</span>
            <br>
            <span><b>Subtotal</b>2000/-</span>
            <br>
            <span><b>Tax</b>2000/-</span>
            <br>
            <span><b>Deposit</b>2000/-</span>
            <hr>
            <span><b>Total:</b>8500/-</span>
        </div>
        <hr>
        <p><input type="checkbox"><i>I agree to terms & Conditions</i></p>
        <button type="submit" style="background-color: violet; border-radius: 20px;">Confirm car</button>
    </div>
    <hr>
  </section>
{% endblock %}
